.icons i {
    font-size: 36px;
}

.text .parag1 {

        font-family: "Cairo", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
}

.text .parag2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}